<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>美丽华夏演示系统</title>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
</head>

<style>
    .area-ratio {
        position: relative;
    }

    .area-text {
        color: #fff;
        position: absolute;
        z-index: 10000;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
</style>

<body>
<div class="container">
    <div class="block-left">
        <div class="block-wrap has-corner" style="height: 30%;">
            <div class="has-title">
                <div class="title">传感器比例</div>
                <div class="con" style="position: relative;">
                    <div id="area-ratio" style="width:100%; height: 100%;"></div>
                    <div class="area-text" v-html="areaText"></div>
                </div>
            </div>
        </div>
        <div class="block-wrap has-corner p-t-20" style="height: 35%;">
            <div class="has-title">
                <div class="title">数据上传条数</div>
                <div class="pro-rank con">
                    <ul class="top-rank">
                        <li v-for="item,index in proList">
                            <div :class="{'flip': refreshFlip}">
                                <span class="rank">NO.{{index+1}}</span>
                                <span class="goods">{{item.name}} - {{item.price}}</span>
                            </div>
                            <div class="line">
                                <div class="line-progress" :style='{width:(10 - index) * 10 + "%"}'></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="block-wrap has-corner p-t-20" style="height: 35%;">
            <div class="has-title">
                <div class="title">传感器平均数值</div>
                <div id="area-sales-amount" class="con">

                </div>
            </div>
        </div>
    </div>

    <div class="block-center">
        <div class="title-bar">
            <div class="title">美丽华夏山体滑坡监控中心</div>
            <div class="amount-panel">
                <div class="title">监控总平方米</div>
                <div class="con">{{dateTime}}</div>
            </div>
            <div class="year-amounts"
                 :style="{width: (amountSplitList.length - commaCount) * 60 + commaCount * 30 + 'px'}">
                <div class="single" v-for="item,el in amountSplitList" :class="{'comma':item === ','}">
                    <div class="nums" :style="{top: - (item * 90) +'px'}">
                        <template v-if="item !== ','">
                            <div v-for="num,index in 10">{{index}}</div>
                        </template>
                        <template v-if="item === ','">
                            <div>,</div>
                        </template>
                    </div>
                </div>

            </div>
        </div>
        <div id="mapContainer" class="map-container"></div>
        <div class="menu-bar">
            <div class="amount-category">
                <div><span class="field">正常</span><span class="val">{{toThousands(amountCategory.amount1)}}</span>
                </div>
                <div><span class="field">预警</span><span class="val">{{toThousands(amountCategory.amount2)}}</span>
                </div>
                <div><span class="field">危险</span><span class="val">{{toThousands(amountCategory.amount3)}}</span>
                </div>
            </div>
            <div class="menu-link">
            </div>
        </div>
    </div>

    <div class="block-right">
        <div class="block-wrap has-corner" style="height: 30%;">
            <div class="has-title">
                <div class="title">设备平均可使用率</div>
                <div id="sale-reach-rate" class="con"></div>
            </div>
        </div>
        <div class="block-wrap has-corner p-t-20" style="height: 35%;">
            <div class="has-title">
                <div class="title">设备可使用率排行</div>
                <div class="cus-rank con">
                    <ul class="top-rank">
                        <li v-for="item,index in cusList">
                            <div :class="{'flip': refreshFlip}">
                                <span class="rank">NO.{{index+1}}</span>
                                <span class="goods">{{item.name}} - {{item.price}}</span>
                            </div>
                            <div class="line">
                                <div class="line-progress" :style='{width:(10 - index) * 10 + "%"}'></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="block-wrap has-corner p-t-20" style="height: 35%;">
            <div class="has-title">
                <div class="title">滑坡指数</div>
                <div id="area-reach-rate" class="con"></div>
            </div>
        </div>
    </div>
</div>

<script src="./js/echarts.min.js"></script>
<script src="./js/china.js"></script>
<script src="./js/bmap.js"></script>
<script src="./js/vue.min.js"></script>
<script src="./js/indexData.js"></script>

<script>
    var vm = new Vue({
        el: '.container',
        data: {
            dateTime: "",
            yearAmount: 10000000,
            amountSplitList: [],
            commaCount: 0,
            proList: [],
            cusList: [],
            refreshCount: 0,
            amountCategory: {amount1: 7845511, amount2: 2131231, amount3: 2321521,},
            refreshFlip: false,
            showPurchaseText: true,
            saleInterval: null,
            areaText: '',
            chart1: '',
            chart2: '',
            chart3: '',
            chart4: '',
            chart5: '',
        },
        methods: {
            getDateTime() {
                var weekDayTimer = null;
                var year = new Date().getFullYear();
                var month = new Date().getMonth() + 1;
                var date = new Date().getDate();
                var hours = new Date().getHours();
                var minutes = new Date().getMinutes();
                var seconds = new Date().getSeconds();
                this.dateTime = year + "-" + month + "-" + date + " " + hours + ":" + minutes + ":" + seconds;
                weekDayTimer = setTimeout(this.getDateTime, 1 * 1000);
            },
            toThousands(num) {
                var result = '', counter = 0;
                num = (num || 0).toString();
                for (var i = num.length - 1; i >= 0; i--) {
                    counter++;
                    result = num.charAt(i) + result;
                    if (!(counter % 3) && i != 0) {
                        result = ',' + result;
                    }
                }
                return result;
            },
            calcYearAmount(numer) {
                this.amountCategory.amount3 = numer - this.amountCategory.amount1;
                this.amountSplitList = String(this.toThousands(numer)).split('');
                this.commaCount = 0;
                this.amountSplitList.forEach(function (item) {
                    if (item === ',') {
                        this.commaCount++;
                    }
                })
                var _this = this;
                window.setTimeout(function () {
                    var mapData = [
                        {name: "雨量", value: 0},
                        {name: "温度", value: 0},
                        {name: "湿度", value: 0},
                        {name: "测斜", value: 0},
                        {name: "震动", value: 0},
                        {name: "水位", value: 0}
                    ];
                    _this.drawMap(mapData);
                }, 3 * 1000)
            },
            drawMap(data) {
                var mapDom = document.getElementById("mapContainer");
                this.chart1 = echarts.init(mapDom);

                var geoCoordMap = {
                    "雨量": [127.056879, 44.419757],
                    "温度": [114.672623, 42.142029],
                    "湿度": [91.58689, 37.980781],
                    "测斜": [118.940796, 29.552007],
                    "震动": [112.612126, 30.767048],
                    "水位": [111.434699, 23.192986]
                };

                var convertData = function (data) {
                    var res = [];
                    for (var i = 0; i < data.length; i++) {
                        var geoCoord = geoCoordMap[data[i].name];
                        if (geoCoord) {
                            res.push({
                                name: data[i].name,
                                value: geoCoord.concat(data[i].value)
                            });
                        }
                    }
                    return res;
                };

                var option = {
                    tooltip: {
                        trigger: 'item',
                        formatter: function () {
                            return "";
                        }
                    },
                    geo: {
                        map: 'china',
                        show: true,
                        roam: false,
                        zoom: 1.2,
                        label: {
                            normal: {
                                show: true
                            }
                        },
                        itemStyle: {
                            normal: {
                                shadowColor: '#00ECC9',
                                shadowBlur: 10
                            }
                        }
                    },
                    series: [
                        {
                            name: '底图',
                            type: 'map',
                            mapType: 'china',
                            roam: false,
                            zoom: 1.2,
                            label: {
                                normal: {
                                    show: true,
                                    color: "#fff",
                                    position: ['50%', '50%']
                                }
                            },
                            itemStyle: {//地图区域的多边形图形样式
                                normal: {
                                    areaColor: '#0069AC', //地图区域颜色
                                    borderColor: '#00ECC9', //图形的描边颜色
                                    borderWidth: 1, //描边线宽。为 0 时无描边
                                    borderType: 'solid',
                                    opacity: 1
                                }
                            }
                        },
                        {
                            type: 'effectScatter',
                            coordinateSystem: 'geo',
                            data: [],
                            symbolSize: function (val) {
                                var dotValue = val[2];
                                var dotSize = 0;
                                if (dotValue > 0 && dotValue <= 1000000) {
                                    dotSize = 15
                                }
                                if (dotValue > 1000000 && dotValue <= 5000000) {
                                    dotSize = 20
                                }
                                if (dotValue > 5000000 && dotValue <= 10000000) {
                                    dotSize = 25
                                }
                                if (dotValue > 10000000) {
                                    dotSize = 30
                                }
                                return dotSize;
                            },
                            label: {
                                normal: {
                                    formatter: '{b}',
                                    color: "#000",
                                    show: false
                                },
                                emphasis: {
                                    show: true
                                }
                            },
                            itemStyle: {
                                normal: {
                                    color: '#FFFF28',
                                    shadowBlur: 10,
                                    shadowColor: '#333'
                                },
                                emphasis: {
                                    borderColor: '#fff',
                                    borderWidth: 1
                                }
                            }
                        }
                    ]
                };

                option.series[1].data = convertData(data);

                this.chart1.setOption(option);
            },
            formatTop5Price(list) {
                var dataList = list || [];
                dataList.map(item => {
                    item.price = this.toThousands(item.price)
                })
            },
            drawSaleAchievementRate(reachCount, totalCount) { //
                var rate = reachCount / totalCount;

                this.chart2 = echarts.init(document.getElementById('sale-reach-rate'));
                var option = {
                    color: ["#16CEB9", '#20242B'],
                    grid: {
                        // left: "50",
                        // right: "20%",
                        // bottom: "15%",
                        // top: "55%",
                    },
                    tooltip: {
                        show: true,
                        trigger: "item",
                        formatter: "{a} <br/>{b}: {c} ({d}%)"
                    },
                    graphic: {
                        type: 'text',
                        left: 'center',
                        top: 'center',
                        style: {
                            // text: 'Part1\n    ',
                            textAlign: 'center',
                            fill: '#fff',
                            width: 30,
                            height: 30
                        }
                    },
                    series: [
                        {
                            type: "pie",
                            radius: ["60%", "75%"],
                            // center: [],
                            avoidLabelOverlap: false,
                            hoverAnimation: false,
                            silent: true,
                            label: {
                                normal: {
                                    show: true,
                                    position: "center",
                                    formatter: function () {
                                        return (rate * 100).toFixed(1) + "%"
                                    },
                                    textStyle: {
                                        fontSize: "calc(25vh*100/1080)",
                                        color: "#fff"
                                    }
                                },
                                emphasis: {
                                    show: true,
                                    textStyle: {
                                        fontSize: "calc(25vh*100/1080)",
                                        fontWeight: "bold"
                                    }
                                }
                            },
                            data: [
                                {
                                    value: 0,
                                    name: "目标达成"
                                },
                                {
                                    value: 0,
                                    name: "目标未达成"
                                },
                            ]
                        }
                    ]
                }
                option.series[0].data[0].value = rate;
                option.series[0].data[1].value = 1 - rate;
                this.chart2.setOption(option)
            },
            drawSalePercent(data) { //
                var self = this;
                self.num = 0;

                count = data.count;
                this.chart3 = echarts.init(document.getElementById('area-ratio'));
                var option = {
                    color: ['#2D99FF', '#FBF401', '#F7517F', '#553CD6'],
                    // graphic: {  //中心文字
                    //     // show: false,
                    //     type: "text",
                    //     left: 'center',
                    //     top: 'center',
                    //     style: {
                    //         text: data.list[num].value + '%' + '\n\n' + data.list[num].name,
                    //         textAlign: 'center',
                    //         fill: '#fff',
                    //         fontSize: "calc(25vh*100/1080)"
                    //     }
                    // },
                    series: [
                        {
                            name: '',
                            type: 'pie',
                            radius: ['60%', '75%'],
                            label: {
                                normal: {
                                    show: false,
                                },
                                textStyle: {
                                    fontSize: 'calc(25vh*100/1080)',
                                    color: '#235894'
                                }
                            },
                            data: []
                        }
                    ]
                }

                if (this.saleInterval) {
                    clearInterval(this.saleInterval);
                }

                var currentIndex = -1;
                this.saleInterval = setInterval(function () {
                    var dataLen = option.series[0].data.length;
                    self.areaText = data.list[self.num].value + '%' + '<br/>' + data.list[self.num].name;
                    self.num++
                    if (self.num >= data.list.length) {
                        self.num = 0
                    }
                    // 取消之前高亮的图形
                    self.chart3.dispatchAction({
                        type: 'downplay',
                        seriesIndex: 0,
                        dataIndex: currentIndex
                    });
                    currentIndex = (currentIndex + 1) % dataLen;
                    // 高亮当前图形
                    self.chart3.dispatchAction({
                        type: 'highlight',
                        seriesIndex: 0,
                        dataIndex: currentIndex
                    });
                }, 2000);

                option.series[0].data = data.list;
                this.chart3.setOption(option);

            },
            drawMoney(data) { //
                this.chart4 = echarts.init(document.getElementById('area-sales-amount'));
                var option = {
                    title: {
                        text: '',
                        right: 20,
                        top: 20,
                        textStyle: {
                            color: '#fff',
                            fontSize: "calc(15vh * 100 / 1080)",
                            fontWeight: '500'
                        }
                    },
                    tooltip: {
                        trigger: "axis",
                        axisPointer: {
                            type: "shadow" //阴影，若需要为直线，则值为'line'
                        }
                    },
                    grid: {
                        left: "15%",
                        right: "5%",
                        bottom: "15%",
                        top: "20%",
                        // containLabel: true
                    },
                    xAxis: {
                        type: 'category',
                        // offset: this.standSize / 100,
                        boundaryGap: true,
                        min: 0,
                        data: ["雨量", "温度", "湿度", "测斜", '震动', '水位'],
                        axisLine: {
                            lineStyle: {
                                color: "#292C38"
                            }
                        },
                        axisLabel: {
                            textStyle: {
                                color: '#fff',//坐标值得具体的颜色
                                fontSize: "calc(15vh * 100 / 1080)" //坐标轴字体大小
                            },
                        },
                        axisTick: {
                            show: false,
                            lineStyle: {
                                type: "dottod"
                            }
                        },
                        splitLine: {  // 区域内的线的颜色
                            show: true,
                            lineStyle: {
                                color: '#292C38'
                            }
                        }
                    },
                    yAxis: {
                        // type: 'category',
                        axisLine: {
                            lineStyle: {
                                color: "#292C38"
                            }
                        },
                        axisLabel: {
                            textStyle: {
                                color: '#fff',//坐标值得具体的颜色
                                fontSize: "calc(15vh * 100 / 1080)" //坐标轴字体大小
                            },
                        },
                        axisTick: {
                            show: false,
                            lineStyle: {
                                type: "dottod"
                            }
                        },
                        splitLine: {  // 区域内的线的颜色
                            lineStyle: {
                                color: '#292C38'
                            }
                        }
                    },
                    series: [
                        {
                            barWidth: "20%",
                            type: "bar",
                            itemStyle: {
                                normal: {
                                    show: true,
                                    barBorderRadius: [20, 20, 0, 0],
                                    color: "#16CEB9"
                                }
                            },
                            label: {
                                normal: {
                                    color: "#fff",
                                    show: true,
                                    position: "top",
                                    distance: 10,
                                },

                            },
                            data: []
                        }
                    ]
                }
                option.series[0].data = data;
                this.chart4.setOption(option);
            },
            drawRate(data) { //
                this.chart5 = echarts.init(document.getElementById('area-reach-rate'));
                var option = {

                    grid: {
                        left: "15%",
                        right: "5%",
                        bottom: "38%",
                        top: "10%",
                        // containLabel: true
                    },
                    color: ["#674AFD", "#CF891D", "#3099FD", "#4447D1", "#13CDB9", "#EF4F7C"],

                    // 鼠标移动上去有提示框
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            label: {
                                backgroundColor: '#6a7985'
                            }
                        }
                    },


                    // 图例
                    legend: {
                        data: ['雨量', '温度', '湿度', '测斜', '震动', '水位'],
                        bottom: 0,
                        left: 30,
                        icon: 'rect',
                        textStyle: {
                            fontSize: 10,
                            color: '#fff'
                        },
                        itemGap: 5,// 每一项间距
                        padding: [0, 10, 5, 0]
                    },

                    xAxis: {
                        boundaryGap: false, // 从原点开始
                        type: 'category',
                        data: ['1月1日', '2月1日', '3月1日', '4月1日', '5月1日', '6月1日', '7月1日'],
                        axisTick: {
                            show: false, // 是否显示x轴刻度
                        },
                        axisLabel: {
                            textStyle: {
                                color: '#fff',
                            },
                            margin: 10,//刻度标签与轴线之间的距离。
                        },
                        splitLine: {
                            show: false // 去掉网格线
                        },
                        axisLine: {
                            lineStyle: {
                                color: '#004875', // 颜色
                                width: 1 // 粗细
                            }
                        }
                    },
                    yAxis: {
                        type: 'value',
                        axisLabel: {
                            formatter: '{value}%',
                            textStyle: {
                                color: '#fff'
                            }
                        },
                        axisLine: {
                            show: false, // 是否显示y轴轴线
                        },
                        axisTick: {
                            show: false, // 是否显示y轴刻度
                        },
                        splitLine: {
                            show: true, // 网格线是否显示
                            lineStyle: { // 设置网格线颜色
                                type: "dashed",
                                color: ["#004875"]
                            }
                        },
                    },
                    series: [
                        {
                            name: "雨量",
                            data: [20, 32, 11, 34, 30, 34, 20],
                            type: 'line',
                            smooth: true, // true 表示光滑的曲线
                            symbolSize: 0, // 拐点圆的大小
                            lineStyle: {
                                normal: {
                                    color: "#674AFD",
                                    width: 2, // 线的粗细
                                }
                            }
                        },
                        {
                            name: "温度",
                            data: [14, 34, 44, 54, 66, 24, 34],
                            type: 'line',
                            smooth: true, // true 表示光滑的曲线
                            symbolSize: 0, // 拐点圆的大小
                            lineStyle: {
                                normal: {
                                    color: "#CF891D",
                                    width: 2,// 线的粗细
                                }
                            }
                        },
                        {
                            name: "湿度",
                            data: [12, 43, 50, 64, 90, 30, 53],
                            type: 'line',
                            smooth: true, // true 表示光滑的曲线
                            symbolSize: 0, // 拐点圆的大小
                            lineStyle: {
                                normal: {
                                    color: "#3099FD",
                                    width: 2,// 线的粗细
                                }
                            }
                        },
                        {
                            name: "测斜",
                            data: [13, 25, 53, 34, 13, 31, 23],
                            type: 'line',
                            smooth: true, // true 表示光滑的曲线
                            symbolSize: 0, // 拐点圆的大小
                            lineStyle: {
                                normal: {
                                    color: "#4447D1",
                                    width: 2,// 线的粗细
                                }
                            }
                        },
                        {
                            name: "震动",
                            data: [67, 78, 79, 57, 67, 77, 78],
                            type: 'line',
                            smooth: true, // true 表示光滑的曲线
                            symbolSize: 0, // 拐点圆的大小
                            lineStyle: {
                                normal: {
                                    color: "#13CDB9",
                                    width: 2,// 线的粗细
                                }
                            }
                        },
                        {
                            name: "水位",
                            data: [34, 34, 31, 34, 33, 30, 10],
                            type: 'line',
                            smooth: true, // true 表示光滑的曲线
                            symbolSize: 0, // 拐点圆的大小
                            lineStyle: {
                                normal: {
                                    color: "#EF4F7C",
                                    width: 2,// 线的粗细
                                }
                            }
                        }
                    ]
                }
                this.chart5.setOption(option)
            },
            initCharts() {
                var _this = this;
                var getDataTimer = null;
                var clearFlipTimer = null;
                var chartData = {};

                function getChartData() {
                    if (!!getDataTimer) {
                        window.clearInterval(getDataTimer);
                        getDataTimer = null;
                    }
                    if (!!clearFlipTimer) {
                        window.clearTimeout(clearFlipTimer);
                        clearFlipTimer = null;
                    }
                    chartData = indexData[_this.refreshCount];
                    this.areaText = indexData[_this.refreshCount].areaRatio.list[0].value + "%<br/>" + indexData[0].areaRatio.list[0].name;

                    _this.refreshFlip = true;
                    _this.proList = chartData.proRank;
                    _this.cusList = chartData.cusRank;

                    _this.refreshCount++;
                    if (_this.refreshCount > 4) {
                        _this.refreshCount = 0;
                    }

                    _this.drawMap(chartData.yearAreaSale);
                    _this.drawSalePercent(chartData.areaRatio);
                    _this.drawSaleAchievementRate(chartData.saleReachRate[0], chartData.saleReachRate[1]);
                    _this.drawMoney(chartData.areaSales);
                    _this.drawRate(chartData.areaReachRate);

                    var upCount = 0;
                    chartData.yearAreaSale.forEach(function (item) {
                        upCount += item.value;
                    });
                    _this.yearAmount += upCount;
                    _this.calcYearAmount(_this.yearAmount);

                    clearFlipTimer = window.setTimeout(clearFlip, 3000);

                    getDataTimer = window.setInterval(getChartData, 10 * 1000);
                }

                function clearFlip() {
                    _this.refreshFlip = false;
                }

                getChartData()
            }
        },
        mounted() {
            this.getDateTime();
            this.calcYearAmount(this.yearAmount);
            this.initCharts();
            this.areaText = indexData[0].areaRatio.list[0].value + "%<br/>" + indexData[0].areaRatio.list[0].name;
            window.onresize = () => {
                this.chart1.resize();
                this.chart2.resize();
                this.chart3.resize();
                this.chart4.resize();
                this.chart5.resize();

            }
        }
    })
</script>
</body>

</html>
